# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# OS and editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs
dist/
build/
coverage/

# Next.js
.next/
out/

# Vite
.vite/
vite.svg

# Turbo
.turbo/
